#home {
  padding-top: 81px;
}

#agencias {
  margin: 0 10%;
  padding: 20px;
  border-radius: 10px;
}

#agencias li {
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media(max-width: 550px) {
  #home {
    padding-top: 60px;
  }

  #agencias li {
    font-size: 16px;
  }
}

@media(max-width: 450px) {
  #agencias {
    margin: 0 0%;
    padding: 20px;
    border-radius: 0px;
  }
}