#showCar {
  padding-top: 81px;
  /* background-color: #fff; */
  height: 100vh;
}

#carimg {
  width: 300px;
  border-radius: 7px;
}

.info {
  display: flex;
  margin: 30px 7%;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
}

.showinfo {
  margin-left: 30px;
  width: 100%;
}

#name {
  font-size: 30px;
  font-weight: bold;
  color: #005032;
}

.description {
  margin-top: 20px;
}

.boxinfo {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.marca {
  width: 50%;
}

.boxinfo img {
  float: left;
  width: 22px;
  margin-right: 10px;
}

.boxinfo span {
  font-size: 19px;
}

.modelo {
  width: 50%;
}

.portas {
  width: 50%;
}

.ano {
  width: 50%;
}


@media(max-width: 550px) {
  #showCar {
    padding-top: 60px;
  }
}