#showCar {
  padding-top: 81px;
  /* background-color: #fff; */
}

#carimg {
  width: 300px;
  border-radius: 7px;
}

.info {
  margin: 30px 7%;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
}

.info2 {
  display: flex;
}

.showinfo {
  margin-left: 30px;
  width: 100%;
  margin-top: 0;
}

.showinfo2 {
  width: 100%;
}

#name {
  font-size: 30px;
  font-weight: bold;
  color: #005032;
}

.description {
  margin-top: 20px;
}

.boxinfo {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.boxinfo img {
  float: left;
  width: 22px;
  margin-right: 10px;
}

.boxinfo span {
  font-size: 19px;
}

.modelo, .portas, .ano, .marca, .motor, .cambio, .combustivel {
  width: 50%;
}

.infoadicionais {
  margin-top: 30px;
  background-color: #005032;
  color: #fff;
  padding: 20px 30px 20px 50px;
  border-radius: 7px;
}

.infoadicionais li {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}

.locar {
  text-align: right;
  padding-top: 30px;
  padding-bottom: 15px;
}

.termos {
  padding-right: 20px;
}

.locar span {
  font-size: 18px;
}

.locar button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #005032;
  color: #fff;
  border-radius: 5px;
}

.locar button:disabled {
  background-color: #00a769;
}

.divdisp {
  margin-bottom: 10px;
  font-weight: bold;
  color: #ff6347;
}

.disp {
  padding: 0px;
}

#erro {
  min-height: 50vh;
  padding: 150px 0px;
}

@media(max-width: 900px) {
  .description {
    margin-top: 5px;
    margin-bottom: 25px;
  }

  #carimg {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 15px;
  }

  .info2 {
    display: block;
  }

  .showinfo {
    margin-left: 0px;
  }

  .boxinfo {
    display: block;
    width: 100%;
  }

  .boxinfo div {
    margin-top: 20px;
  }

  .modelo, .portas, .ano, .marca, .motor, .cambio, .combustivel {
    width: 100%;
  }
}

@media(max-width: 550px) {
  #showCar {
    padding-top: 60px;
  }

  .infoadicionais {
    padding: 10px 10px 10px 30px;
  }

  .infoadicionais li {
    font-size: 16px;
  }

  .locar {
    text-align: center;
  }

  .locar button {
    display: block;
  }

  .locar span {
    padding-right: 0px;
  }
}