#detalhes {
  padding-top: 81px;
}

.detalhes {
  margin: 5px 10% 30px 10%;
  padding: 50px 20px;
  border-radius: 7px;
  text-align: center;
}

.tltreserva {
  font-size: 24px;
  font-weight: bold;
}

.tltreserva2 {
  display: block;
  margin-bottom: 20px;
}

.contenttlt {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.content1 {
  display: block;
  margin-bottom: 20px;
}

.contenttlt {
  display: block;
}

.outros {
  padding: 40px 0;
  text-align: left;
}

.outroscont {
  padding: 5px 0;
  display: block;
}

.outroscont1 {
  padding: 5px 0;
  display: block;
}

.blocoinfo {
  margin-top: 30px;
}

#loadingcar {
  text-align: center;
}

.loading2 {
  width: 100%;
  border-radius: 7px;
}

.links {
  margin: 15px 10% 15px 10%;
}

.tltreserva3 {
  font-size: 24px;
  font-weight: bold;
}

.left-align {
  text-align: left;
}

.divbuttoncancel {
  margin: 20px 0 50px 0;
}

.divbuttoncancel button {
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

#popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.493);
  position: fixed;
  z-index: 15;
  top: 0;
  left: -10px;
}

.popup {
  display: block;
  width: 300px;
  height: 120px;
  margin: auto;
  margin-top: 150px;
  border-radius: 5px;
  padding: 20px;
}

.ask {
  font-size: 18px;
}

.buttonspop {
  margin-top: 55px;
  margin-left: 92px;
}

.buttonspop button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
}

.hidepopup {
  display: none;
}

@media(max-width: 800px) {

}

@media(max-width: 550px) {
  #showCar {
    padding-top: 60px;
  }
}

@media(max-width: 450px) {
  .detalhes {
    margin: 0px 0 50px 0;
    padding: 50px 20px;
    border-radius: 0px;
    text-align: center;
  }

  .links {
    padding-left: 15px;
    margin: 0px 0 20px 0;
  }

  .popup {
    display: block;
    width: 70%;
    height: 120px;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
    padding: 20px;
  }

  .popup {
    height: auto;
  }
  
  .buttonspop {
    margin-top: 0;
    margin-left: 0;
  }

  .buttonspop button {
    margin-left: 0px;
    margin-top: 30px;
  }
}