* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  border: none;
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

#header {
  background-color: white;
  height: 66px;
  padding-top: 15px;
  padding-left: 50px;
}

.title1 {
  display: block;
  font-size: 22px;
  line-height: 24px;
  overflow: hidden;
}

.title2 {
  display: block;
  font-size: 22px;
  line-height: 24px;
  overflow: hidden;
}

.title3 {
  float: left;
  text-align: right;
}

.title4 {
  font-weight: bold;
  padding-left: 10px;
  font-size: 24px;
  line-height: 48px;
  float: left;
}

html {
  background-color: rgb(224, 224, 224);
}

#menu {
  padding-top: 15px;
  padding-right: 70px;
  float: right;
}

#title {
  float: left;
}

.menu1 {
  float: left;
  padding-left: 40px;
}

.menu2 {
  float: right;
  padding-left: 100px;
}

.menu1 a {
  padding: 0 20px;
}

a {
  padding: 0 10px;
  color: black;
  font-weight: bold;
}

@media(max-width: 1100px) {
  .menu2 {
    padding-left: 0px;
  }
}

@media(max-width: 1000px) {
  .menu1 {
    display: none;
  }
}

@media(max-width: 550px) {
  #header {
    height: 50px;
    padding-top: 15px;
    padding-left: 20px;
  }

  .title1 {
    font-size: 16px;
    line-height: 18px;
  }
  
  .title2 {
    font-size: 16px;
    line-height: 18px;
  }
  
  .title4 {
    font-size: 18px;
    line-height: 36px;
    float: left;
  }

  #menu {
    padding-top: 10px;
    padding-right: 20px;
  }

  .menu1 a {
    padding: 0 0px;
  }

  a {
    padding: 0 0px;
    color: black;
    font-weight: bold;
  }
}

@media (max-width: 300px) {
  #menu {
    display: none;
  }
}