#nitification {
  position: fixed;
  display: block;
  bottom:  50px;
  left: 50px;
  width: auto;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.notification {
  display: block;
  margin: auto;
  width: auto;
  padding: 15px 30px;
}

.notification span {
  font-size: 18px;
}

.notificationhide {
  display: none;
}

@media(max-width: 500px) {
  /* .not {
    display: none;
  } */

  #nitification {
    position: fixed;
    display: block;
    bottom:  0px;
    left: 0px;
    width: 100%;
    height: auto;
    border-radius: 0px;
    border: none;
    border-top: 2px solid #fff;
  }

  .notification {
    padding: 15px 110px 15px 30px;
  }
}

@media(max-width: 400px) {
  .notification {
    padding: 15px 80px 15px 30px;
  }
}