#nitification {
  position: fixed;
  display: block;
  bottom:  50px;
  left: 50px;
  width: auto;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.notification {
  display: block;
  margin: auto;
  width: auto;
  padding: 15px 30px;
}

.notification span {
  font-size: 18px;
}

.notificationhide {
  display: none;
}

@media(max-width: 500px) {
  .not {
    display: none;
  }
}