#home {
  padding-top: 81px;
}

#marcas {
  margin: 0 10%;
  padding: 20px;
  border-radius: 10px;
}

.question-box {
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hide-txt {
  display: none;
}

.show-txt {
  display: block;
}

.img-seta {
  width: 27px;
  float: left;
}

.prolado {
  transform: rotate(-90deg);
  transition-duration: 0.2s;
}

.txt-qst {
  font-size: 22px;
  font-weight: bold;
  margin-left: 15px;
}

.txt-qst-1 {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 0px;
}

@media(max-width: 550px) {
  #home {
    padding-top: 60px;
  }
}

@media(max-width: 450px) {
  #marcas {
    margin: 0 0%;
    border-radius: 0px;
  }
}